.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 16px;
}
body{
    color:#3E3128;
    background-color: #F8F6F2;
}

#header{
    display:flex;
    justify-content: space-between;
    align-items:center;

    padding:20px 0;
}

#header ul{
    display:flex;
    list-style:none;
}

#header li{
    margin-left:30px;

}

#header a{
    text-decoration:none;
    color:#333;
}

#mainvisual{
    margin-bottom: 80px;
}
#mainvisual img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}